# Padrino
.DS_Store
log
tmp
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
public/stylesheets/application.css
db/*.db
.bundle

# rvm
.rvmrc
.rvmrc.*

# rbenv
.rbenv-version
.rbenv-gemsets

# config file
config/application.yml
