<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:nominees, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:nominees, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:nominees, :edit, :id => @nominee.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :nominee, url(:nominees, :update, :id => @nominee.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'nominees/form', :locals => { :f => f } %>
  <% end %>
</div>
